@model IEnumerable<SistemaVentas.Models.Categoria>

@{
    ViewBag.Title = "Index";
}

<h2>Gestion de Categorias</h2>
<hr />
<p>
    @Html.ActionLink("Nueva Categoria", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Codigo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Codigo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdCategoria }) |
            @Html.ActionLink("Ver Detalle", "Details", new { id=item.IdCategoria }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdCategoria })
        </td>
    </tr>
}

</table>
