@model SistemaVentas.Models.Producto

@{
    ViewBag.Title = "Details";
}

<h2>Detalle</h2>
<hr />
<div>
    <h4>Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Marca)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Marca)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stock)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stock)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StockMinimo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StockMinimo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioVenta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PrecioCosto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PrecioCosto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Utilidad)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Utilidad)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Foto)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Foto)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Categoria.Codigo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Categoria.Codigo)
        </dd>

    </dl>
</div>
<hr />
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdProducto }) |
    @Html.ActionLink("Regresar", "Index")
</p>
