@model IEnumerable<SistemaVentas.Models.Producto>

@{
    ViewBag.Title = "Index";
}

<h2>Gestion de Productos</h2>

<p>
    @Html.ActionLink("Crear Nuevo Producto", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Stock)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StockMinimo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioVenta)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioCosto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Utilidad)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Foto)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Categoria.Codigo)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Marca)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Stock)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StockMinimo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioVenta)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PrecioCosto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Utilidad)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Foto)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Categoria.Codigo)
        </td>
        <td>
           @Html.ActionLink("Editar", "Edit", new { Id = item.IdProducto }) |
            @Html.ActionLink("Ver Detalle", "Details", new { Id = item.IdProducto }) |
            @Html.ActionLink("Eliminar", "Delete", new { Id = item.IdProducto })
        </td>
    </tr>
}

</table>
